<section id="logIn" class="pt-3 log-in vh-100">

    <h1 class="text-center bg-light w-25  text-black m-auto py-2">Login</h1>

    <div class="w-35 logIn-div py-4 mx-auto w-35 mt-5">
        <form [formGroup]='loginForm' (ngSubmit)="submitLoginForm(loginForm)">

            <div class="form-row py-4">
                <div class="col-md-12">
                    <label for="userName">UserName</label>
                    <input type="text" class="form-control w-75 m-auto" formControlName="userName" id="userName">
                    <div  *ngIf="loginForm.get('userName')?.errors!=null&&loginForm.get('userName')?.touched"
                        class="alert w-75 m-auto alert-danger mt-1 py-0">
                        <p *ngIf="loginForm.get('userName')?.errors?.['required']">User Name Required</p>
                    </div>
                </div>

            </div>
            <div class="form-row py-4">
                <div class="col-md-12">
                    <label for="pass">Password</label>
                    <input type="password" class="form-control w-75 m-auto" formControlName="pass" id="pass">
                    <div *ngIf="loginForm.get('pass')?.errors!=null&&loginForm.get('pass')?.touched"
                        class="alert w-75 m-auto alert-danger mt-1 py-0">
                        <p *ngIf="loginForm.get('pass')?.errors?.['required']">Password Required</p>
                        <p *ngIf="loginForm.get('pass')?.errors?.['pattern']">InValid Password , Please Enter From
                            9-15
                            (Letters Or Numbers)</p>
                    </div>
                </div>

            </div>

            <div class="logIn-btn-div w-75 m-auto">
                <button [disabled]="loginForm.invalid" type="submit" (click)="goToHomePage()" type="button"
                    class="m-2 btn btn-dark px-5 Login-btn regbtn btn-lg"><a>Login</a></button>
                <button (click)="goToRegisterPage()" type="button" class="m-2 btn btn-dark px-5 Register-btn btn-lg">
                    <a>SignUp</a></button>
            </div>

        </form>


    </div>











</section>