.Registeration-sec {
  font-family: "Work Sans", sans-serif !important;
}
.Registeration-sec span {
  font-weight: 700;
  border: 3px solid #f3f3f3;
  border-radius: 5px;
}

.w-60 {
  width: 60%;
}

.regForm {
  background-color: rgba(105, 104, 104,.8);
  border: 2px solid #e8e8e9;
  border-radius: 15px;
}

.regForm label {
  font-size: 120%;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.regbtn-div .Login-btn a {
  color: white;
  text-decoration: none;
}

.regbtn-div .btn {
  font-size: larger;
  font-weight: 700;
}
