<section class="Registeration-sec bg-light py-3">
  <h1 class="text-center mb-4 "><span class="bg-transparent">Registration</span></h1>
  <div class="container w-60 regForm py-5 ">
    <form class="pt-2 " [formGroup]='registerForm' (ngSubmit)="submitRegisterForm(registerForm)">
      <div class="row py-2 ">
        <div class="col-md-6 form-group-md-4 form-group">
          <label for="Resident_NID">National ID</label>
          <input type="text" class="form-control" formControlName="Resident_NID" id="Resident_NID">
          <div *ngIf="registerForm.get('Resident_NID')?.errors!=null&&registerForm.get('Resident_NID')?.touched"
            class="alert alert-danger mt-1">
            <p *ngIf="registerForm.get('Resident_NID')?.errors?.['required']">National ID Is Required</p>
            <p *ngIf="registerForm.get('Resident_NID')?.errors?.['pattern']">Please Enter 14 Number</p>
          </div>
        </div>

        <div class="col-md-6 form-group">
          <label for="Birthdate">Birthdate</label>
          <input type="date" class="form-control" formControlName="Birthdate" id="Birthdate">
        </div>

      </div>
      <div class="row py-2">

        <div class="col-md-6 form-group">
          <label for="Name">Name</label>
          <input type="text" class="form-control" formControlName="Name" id="Name">
          <div *ngIf="registerForm.get('Name')?.errors!=null&&registerForm.get('Name')?.touched"
            class="alert alert-danger mt-1">
            <p *ngIf="registerForm.get('Name')?.errors?.['required']">Name Required Please</p>
            <p *ngIf="registerForm.get('Name')?.errors?.['minlength']">Minimum Length 3</p>
            <p *ngIf="registerForm.get('Name')?.errors?.['maxlength']">Maximum Length 30</p>
            <p *ngIf="registerForm.get('Name')?.errors?.['pattern']">Invalid Name Pattern isn't Corrected </p>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <label for="Gender">Gender</label>
          <select ngModel="Male" class="form-control" formControlName="Gender" id="Gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>

      </div>

      <div class="row py-2">
        <div class="col-md-6 form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" formControlName="username" id="username">
          <div *ngIf="registerForm.get('username')?.errors!=null&&registerForm.get('username')?.touched"
            class="alert alert-danger mt-1">
            <p *ngIf="registerForm.get('username')?.errors?.['required']">User Name Required</p>
          </div>

        </div>
        <div class="col-md-6 form-group">
          <label for="Email">Email</label>
          <input type="text" class="form-control" formControlName="Email" id="Email">
          <div *ngIf="registerForm.get('Email')?.errors!=null&&registerForm.get('Email')?.touched"
            class="alert alert-danger mt-1">
            <p *ngIf="registerForm.get('Email')?.errors?.['required']">Email Required</p>
            <p *ngIf="registerForm.get('Email')?.errors?.['email']">Invalid Email</p>
          </div>
        </div>

      </div>
      <div class="row py-2">
        <div class="col-md-6 form-group">
          <label for="password">password</label>
          <input type="password" class="form-control" formControlName="password" id="password">
          <div *ngIf="registerForm.get('password')?.errors!=null&&registerForm.get('password')?.touched"
            class="alert alert-danger mt-1">
            <p *ngIf="registerForm.get('password')?.errors?.['required']">Password Required</p>
            <p *ngIf="registerForm.get('password')?.errors?.['pattern']">Invalid Password , Please Enter From 9-15
              (Letters Or Numbers)</p>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <label for="confirmationPass">Confirm Password</label>
          <input type="password" class="form-control" formControlName="confirmationPass" id="confirmationPass">
          <div *ngIf="registerForm.get('confirmationPass')?.errors!=null&&registerForm.get('confirmationPass')?.touched"
            class="alert alert-danger mt-1">
            <p *ngIf="registerForm.get('confirmationPass')?.errors?.['required']">Confirmation Password Required</p>
            <p *ngIf="registerForm.get('confirmationPass')?.errors?.['pattern']">In Valid Password , Please Enter From 9-15
              (Letters Or Numbers)</p>
           <p>Password and Confirm Password must be match.</p>  

          </div>
        </div>
      </div>

      <div class="row py-2">
        <div class="offset-md-4 col-md-4 form-group ">
          <label for="ResidencyYear">Residency Year </label>
          <select ngModel="1" class="form-control" formControlName="ResidencyYear" id="ResidencyYear">
            <option selected value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>

          </select>

        </div>
      </div>
      <div class="regbtn-div">
        <button  id="RegistrBtn"  [disabled]="registerForm.invalid" type="submit" class="d-block m-auto btn btn-dark px-5 regbtn btn-lg">SignUp
        </button>
        <button (click)="goToLoginPage()" id="loginBtn" type="button" class="btn d-block m-auto my-4 btn-dark px-5 Login-btn btn-lg"><a>Login</a></button>
      </div>
    </form>
  </div>
</section>