<div class="con">
    <form action="">
        <h1>Intensive care</h1>

      
        <div class="form-group">
            <label for="">Date</label>
            <input type="date" class="form-control date" [max]="dt |  date:'MM/dd/yyyy'">
        </div>

        <div class="form-group">
            <label for="">Time</label>
            <div class="form-check">
                <div *ngFor="let time of timeData" class="form-check form-check-inline time">
                    <input type="radio" name="time" class="form-check-input " value="{{time.ID}}" id="{{time.ID}}">
                    <label for="{{time.ID}}">
                        {{time.Details}}
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="">Facility</label>
            <select class="form-select facility">
                <option disabled selected value> -- select a Facility -- </option>
                <option *ngFor="let fac of Facility" value="{{fac.ID}}">{{fac.ICU_Name}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="">Sex</label>
            <div class="form-check">
                <div class="form-check form-check-inline sex">
                    <input type="radio" name="sex" class="form-check-input" id="male"><label for="male">Male</label>
                </div>
                <div class="form-check form-check-inline sex">
                    <input type="radio" name="sex" class="form-check-input" id="female"><label
                        for="female">Female</label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="">Age</label>
            <div class="form-check">
                <div class="form-check form-check-inline age">
                    <input type="text" class="form-control" placeholder="Age">
                </div>
                <div class="form-check form-check-inline age">
                    <select class="form-select">
                        <option disabled selected value> -- Units -- </option>
                        <option *ngFor="let age of AgeUnits" value="{{age.ID}}">{{age.Unit}}</option>
                    </select>
                </div>
                <div class="form-check form-check-inline age">
                    <select class="form-select">
                        <option disabled selected value> -- select a category -- </option>
                        <option *ngFor="let ageCat of AgeCategory" value="{{ageCat.ID}}">{{ageCat.Category}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="">Events</label>
            <select #specialty class="form-select events">
                <option disabled selected value> -- Select an Event -- </option>
                <option *ngFor="let event of Event" value="{{event.ID}}">{{event.Event}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="">ICU Primary Specialty</label>
            <select class="form-select specialty">
                <option disabled selected value> -- Select a Specialty -- </option>
                <option *ngFor="let spec of Specialty" value="{{spec.ID}}">{{spec.Specialty}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="">Primary diagnosis</label>
            <div class="form-check">
                <textarea class="form-control event"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="">Co-morbidities</label>
            <div class="form-check">
                <textarea class="form-control event"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="">Supervision</label>
            <select #supervision class="form-select supervision" (change)="showSupervisor(supervision.value)">
                <option disabled selected value> -- Select a Supervision -- </option>
                <option *ngFor="let sup of Supervision" value="{{sup.Name}}">{{sup.Name}}</option>
            </select>
        </div>

        <div class="form-group" *ngIf="supervisor">
            <label for="">Supervisor</label>
            <select class="form-select supervision">
                <option disabled selected value> -- Select a Supervisor Role-- </option>
                <option *ngFor="let suprole of SupervisorRole" value="{{suprole.Position}}">{{suprole.Position}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="">Teaching</label>
            <div class="form-check">
                <div *ngFor="let tech of Teaching" class="form-check form-check-inline">
                    <input type="radio" name="teaching" class="form-check-input" value="{{tech.ID}}" id="{{tech.Title}}"><label for="{{tech.Title}}">{{tech.Title}}</label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="">Maximum number of organ support on admission</label>
            <div class="form-check">
                <div class="form-check form-check-inline support">
                    <input type="radio" name="support" class="form-check-input" id="support1"><label for="support1">1</label>
                </div>
                <div class="form-check form-check-inline support">
                    <input type="radio" name="support" class="form-check-input" id="support2"><label for="support2">2</label>
                </div>
                <div class="form-check form-check-inline support">
                    <input type="radio" name="support" class="form-check-input" id="support3"><label for="support3">3</label>
                </div>
                <div class="form-check form-check-inline support">
                    <input type="radio" name="support" class="form-check-input" id="support4"><label for="support4">4</label>
                </div>
                <div class="form-check form-check-inline support">
                    <input type="radio" name="support" class="form-check-input" id="support5"><label for="support5">5</label>
                </div>
                <div class="form-check form-check-inline support">
                    <input type="radio" name="support" class="form-check-input" id="support6"><label for="support6">6</label>
                </div>
                <div class="form-check form-check-inline support">
                    <input type="radio" name="support" class="form-check-input" id="support7"><label for="support7">7</label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="">Support type</label>
            <select #supportType class="form-select supportType" (change)="showSupportTypeCategories(supportType.value)">
                <option disabled selected value> -- Select Support Type -- </option>
                <option *ngFor="let supp of Support" value="{{supp.ID}}">{{supp.Support}}</option>
            </select>
        </div>

        <div class="form-group" *ngIf="supportCategories">
            <div class="form-check">
                <div class="form-check form-check-inline supportCategories"  *ngFor="let category of supportCategories">
                    <input type="checkbox" name="supportType" class="form-check-input" id="{{category.Category}}"><label for="{{category.Category}}">{{category.Category}}</label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="">Procedure</label>
            <select #Procedure class="form-select procedure" (change)="showCategories(Procedure.value)">
                <option disabled selected value> -- Select a Procedure -- </option>
                <option *ngFor="let coreSkill of CoreSkill" value="{{coreSkill.ID}}">{{coreSkill.Skill}}</option>
            </select>
        </div>

        <div class="form-group" *ngIf="categories">
            <label for="">Categories</label>
            <select class="form-select categories" multiple>
                <option disabled selected value> -- select a Category -- </option>
                <option *ngFor="let category of categories">{{category.Category}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="">Notes</label>
            <div class="form-check">
                <textarea class="form-control event"></textarea>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-dark" value="SaveLog">
        </div>

    </form>
</div>