<div class="con">
    <form action="">
        <h1>Anaesthetic</h1>


        <div class="form-group">
            <label for="">Date</label>
            <input type="date" class="form-control date" [max]="dt |  date:'MM/dd/yyyy'">
        </div>

        <div class="form-group">
            <label for="">Time</label>
            <div class="form-check">
                <div *ngFor="let time of timeData" class=" form-check-inline time my-2 ">
                    <input type="radio" name="time" class="form-check-input " value="{{time.ID}}" id="{{time.ID}}">
                    <label for="{{time.ID}}">
                        {{time.Details}}
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="">Facility</label>
            <select class="form-select facility">
                <option disabled selected value> -- select a Facility -- </option>
                <option *ngFor="let fac of Facility" value="fac.ID">{{fac.Facility_Name}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="">Sex</label>
            <div class="form-check">
                <div class="form-check form-check-inline sex">
                    <input type="radio" name="sex" class="form-check-input" id="male"><label for="male">Male</label>
                </div>
                <div class="form-check form-check-inline sex">
                    <input type="radio" name="sex" class="form-check-input" id="female"><label
                        for="female">Female</label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="">Age</label>
            <div class="form-check">
                <div class="form-check form-check-inline age">
                    <input type="text" class="form-control" placeholder="Age">
                </div>
                <div class="form-check form-check-inline age">
                    <select class="form-select">
                        <option disabled selected value> -- Units -- </option>
                        <option *ngFor="let age of AgeUnits" value="{{age.ID}}">{{age.Unit}}</option>

                    </select>
                </div>
                <div class="form-check form-check-inline age">
                    <select class="form-select">
                        <option disabled selected value> -- select a category -- </option>
                        <option *ngFor="let ageCat of AgeCategory" value="{{ageCat.ID}}">{{ageCat.Category}}
                        </option>

                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="">ASA-PS classsification</label>
            <div class="form-check">
                <div *ngFor="let asa of ASAPS" class="form-check form-check-inline asa">
                    <input value="{{asa.ID}}" type="radio" name="asa" class="form-check-input" id="{{asa.ID}}"><label
                        for="{{asa.ID}}">{{asa.Class}}</label>
                </div>

            </div>
        </div>

        <div class="form-group">
            <label for="">Case Priority</label>
            <div class="form-check">
                <div *ngFor="let case of CasePriority" class="form-check form-check-inline casePrioty">
                    <input type="radio" name="casePrioty" class="form-check-input" id="{{case.ID}}"><label
                        for="{{case.ID}}">{{case.Priority}}</label>
                </div>

            </div>
        </div>

        <div class="form-group">
            <label for="">The Primary Specialty</label>
            <select #specialty class="form-select specialty" (change)="showSpecialty(specialty.value, 1)">
                <option disabled selected value> -- select a Speciality -- </option>
                <option *ngFor="let spec of Specialty" value="{{spec.ID}}">{{spec.Specialty}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="">Type of the operation</label>
            <select #typeOperation class="form-select specialty" (change)="showOthers(typeOperation.value, 1)">
                <option disabled selected value> -- select an Operation -- </option>
                <option *ngFor="let op of options">{{op.Operation_Title}}</option>
            </select>
        </div>

        <div class="form-group" *ngIf="others">
            <label for="">Other</label>
            <textarea type="text" class="form-control others"></textarea>
        </div>

        <div class="form-group">
            <label for="">Secondary Specialty if present?</label>
            <div class="form-check">
                <div class="form-check form-check-inline yesNo">
                    <span (click)="setYes(1)">
                        <input type="radio" name="secondarySpecialty" class="form-check-input" id="yesSecondary"><label
                            for="yesSecondary">Yes</label>
                    </span>
                </div>
                <div class="form-check form-check-inline yesNo">
                    <span (click)="setNo(1)">
                        <input type="radio" name="secondarySpecialty" class="form-check-input" id="noSecondary"><label
                            for="noSecondary">No</label>
                    </span>
                </div>
            </div>
        </div>

        <div *ngIf="secondarySpecialty">
            <div class="form-group">
                <label for="">The Secondary Specialty</label>
                <select #secondarySpecialty class="form-select specialty"
                    (change)="showSpecialty(secondarySpecialty.value, 2)">
                    <option disabled selected value> --Select a Secondary Specialty -- </option>
                    <option *ngFor="let spec of Specialty" value="{{spec.ID}}">{{spec.Specialty}}</option>
                   
                </select>
            </div>

            <div class="form-group" *ngIf="Operation">
                <label for="">Type of the operation</label>
                <select #secondaryTypeOperation class="form-select specialty" (change)="showOthers(secondaryTypeOperation.value, 2)">
                    <option disabled selected value> -- select an Operation -- </option>
                    <option *ngFor="let op of secondaryOptions">{{op.Operation_Title}}</option>
                  
                </select>
            </div>

            <div class="form-group" *ngIf="secondaryOthers">
                <label for="">Other</label>
                <textarea type="text" class="form-control others"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="">Supervision</label>
            <select #supervision class="form-select supervision" (change)="showSupervisor(supervision.value)">
                <option disabled selected value> -- Select a Supervision -- </option>
                <option *ngFor="let sup of Supervision" value="{{sup.Name}}">{{sup.Name}}</option>
            </select>
        </div>

        <div class="form-group" *ngIf="supervisor">
            <label for="">Supervisor</label>
            <select class="form-select supervision">
                <option disabled selected value> -- Select a Supervisor Role-- </option>
                <option *ngFor="let suprole of SupervisorRole" value="{{suprole.Position}}">{{suprole.Position}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="">Teaching</label>
            <div class="form-check">
                <div *ngFor="let tech of Teaching" class="form-check form-check-inline">
                    <input value="{{tech.ID}}" type="radio" name="teaching" class="form-check-input" id="{{tech.Title}}"><label
                        for="{{tech.Title}}">{{tech.Title}}</label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="">Mode of anesthesia</label>
            <div class="form-check">
                <div class="form-check form-check-inline modeAnes" *ngFor="let Mode of ModeOfAnesthesia">
                    <input type="radio" name="Mode" class="form-check-input" id="{{Mode.Mode}}"><label for="{{Mode.Mode}}">{{Mode.Mode}}</label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="">Regional anesthesia</label>
            <div class="form-check">
                <div class="form-check form-check-inline yesNo">
                    <span (click)="setYes(2)">
                        <input type="radio" name="Regional" class="form-check-input" id="yesRegional"><label
                            for="yesRegional">Yes</label>
                    </span>
                </div>
                <div class="form-check form-check-inline yesNo">
                    <span (click)="setNo(2)">
                        <input type="radio" name="Regional" class="form-check-input" id="noRegional"><label
                            for="noRegional">No</label>
                    </span>
                </div>
            </div>
        </div>

        <div *ngIf="regional">
            <div class="form-group">
                <label for="">Regional type</label>
                <select class="form-select regional">
                    <option disabled selected value> -- select the type -- </option>
                    <option *ngFor="let reg of RegionalType" value="reg.ID">{{reg.Procedure}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="">Technique</label>
                <select class="form-select technique">
                    <option disabled selected value> -- select Technique -- </option>
                    <option *ngFor="let tech of Technique" value="{{tech.Technique}}">{{tech.Technique}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="">Was a catheter placed?</label>
                <div class="form-check">
                    <div class="form-check form-check-inline yesNo">
                        <input type="radio" name="Catheter" class="form-check-input" id="yesCatheter"><label
                            for="yesCatheter">Yes</label>
                    </div>
                    <div class="form-check form-check-inline yesNo">
                        <input type="radio" name="Catheter" class="form-check-input" id="noCatheter"><label
                            for="noCatheter">No</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="">Supervision</label>
                <select class="form-select supervision">
                    <option disabled selected value> -- Select a Supervision -- </option>
                    <option *ngFor="let sup of Supervision" value="{{sup.Name}}">{{sup.Name}}</option>
                </select>

                <div class="form-group">
                    <label for="">Regional notes</label>
                    <textarea class="form-control event"></textarea>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="Procedure">Have you performed one or more procedures?</label>
            <div class="form-check">
                <div class="form-check form-check-inline yesNo">
                    <span (click)="setYes(3)">
                        <input type="radio" name="Procedure" class="form-check-input" id="yesProcedure"><label
                            for="yesProcedure">Yes</label>
                    </span>
                </div>
                <div class="form-check form-check-inline yesNo">
                    <span (click)="setNo(3)">
                        <input type="radio" name="Procedure" class="form-check-input" id="noProcedure"><label
                            for="noProcedure">No</label>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group" *ngIf="procedure">
            <label for="">Procedure</label>
            <select #Procedure class="form-select procedure" (change)="showCategories(Procedure.value)">
                <option disabled selected value> -- select a Procedure -- </option>
                <option *ngFor="let coreSkill of CoreSkill" value="{{coreSkill.ID}}">{{coreSkill.Skill}}
                </option>
            </select>
        </div>

        <div class="form-group" *ngIf="categories">
            <label for="">Categories</label>
            <select class="form-select categories" multiple>
                <option disabled selected value> -- select a Category -- </option>
                <option *ngFor="let category of categories">{{category.Category}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="">Did a significant event occur during the case?</label>
            <div class="form-check">
                <div class="form-check form-check-inline yesNo">
                    <span (click)="setYes(4)">
                        <input type="radio" name="significantEvent" class="form-check-input" id="yesEvent"><label
                            for="yesEvent">Yes</label>
                    </span>
                </div>
                <div class="form-check form-check-inline yesNo">
                    <span (click)="setNo(4)">
                        <input type="radio" name="significantEvent" class="form-check-input" id="noEvent"><label
                            for="noEvent">No</label>
                    </span>
                </div>
                <textarea class="form-control event" *ngIf="significantEvent"></textarea>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-dark" value="SaveLog">
        </div>

    </form>
</div>