<section class="bg-light vh-100" id="Home1">
    <div class="container  py-3">

        <div class="row">
            <div class="col-md-4 offset-4 py-2">
                <div class="logbook pb-2 px-2">
                    <h3 class="bg-light">Logbook</h3>
                    <hr class="mt-0">
                    <h4>
                        Case
                    </h4>

                    <ul class="list-unstyled">
                        <li> <a (click)="goToAnaethetic()">Anaethetic</a></li>
                        <li> <a (click)="goToIntensiveCarePage()">Intensive Care Medicine</a></li>
                        <li> <a (click)="goToProcedure()">Procedure(Stand-alone)</a></li>
                    </ul>
                    
                    <hr>
                    <!-- <a class="logbook-link" >Session</a> -->
                    <button class="btn btn-primary d-block mt-2 p-2"> Review Logbook</button>

                </div>
            </div>
            <!-- <div class="col-md-4  pt-2">
                <div class="logbook px-2">
                    <h3 class="bg-light">New Entry</h3>
                    <hr class="mt-0">

                    <ul class="list-unstyled">
                        <li> <a href="#">Workplace Based Assesment</a></li>
                        <li> <a href="#">Personal Activity</a></li>
                        <li> <a href="#">Personal Reflection </a></li>

                    </ul>

                </div>
                <div class="logbook mt-2 px-2">
                    <h3 class="bg-light">Development</h3>
                    <hr class="mt-0">

                    <ul class="list-unstyled">
                        <li> <a href="#">Personal Development Plan</a></li>
                        <li> <a href="#">MileStones and Certificates</a></li>
                        <li> <a href="#">Multi-source Feedback </a></li>
                        <li> <a href="#">ESSR Records</a></li>
                        <li> <a href="#">ARCP-Outcomes</a></li>
                        <li> <a href="#">Document Store </a></li>

                    </ul>

                </div>
            </div>
            <div class="col-md-5 pt-2">
                <div class="row logbook pb-2 px-2">
                    <div class="col-md-7">

                        <h3 class="bg-light">Progress</h3>
                        <hr class="mt-0">

                        <ul class="list-unstyled py-4">

                            <li><i class="completed-icon" class="fa-solid fa-circle"></i> <a class="ml-2"
                                    href="#">Completed
                                </a></li>
                            <li><i class="inProgress-icon" class="fa-solid fa-circle-notch"></i> <a class="ml-2"
                                    href="#">In progress </a></li>
                            <li><i class="notStarted-icon" class="fa-regular fa-circle"></i> <a class="ml-2"
                                    href="#">Not Started</a></li>
                            <li><i class="CUT-icon" class="fa-solid fa-circle-notch"></i> <a class="ml-2" href="#">CUT
                                    in progress</a></li>
                        </ul>


                        <button class="btn btn-primary d-block my-2 p-2"> Review Curriculum</button>


                    </div>
                    <div class="col-md-5 d-flex align-items-center">
                        <img src="../../assets/images/download.jpeg" class="w-100 img-fluid" alt="Asu">
                    </div>
                </div>

            </div> -->
        </div>

    </div>


</section>
<!-- 
<section id="RecentEntries" class="py-5">
    <div class="container tableHome">
        <h3> Recent Entries</h3>
        <hr>
        <table class="table">
            <thead>
                <th>Title</th>
                <th>Form</th>
                <th>Status</th>
                <th>Assessor</th>
                <th>Last Updated</th>
            </thead>

            <tbody>
                <tr>
                    <td><a class="table-link" href="#">Induction Of General Anaethesia </a></td>
                    <td>CUT</td>
                    <td>Approved</td>
                    <td>Educational Supervisor1</td>
                    <td>23 May 2022</td>
                </tr>
                <tr>
                    <td><a class="table-link" href="#">Premediction</a></td>
                    <td>CUT</td>
                    <td>Submitted</td>
                    <td>Educational Supervisor1</td>
                    <td>23 Jan 2018</td>
                </tr>
                <tr>
                    <td><a class="table-link" href="#">Post-Operative and Recovery Room Care </a></td>
                    <td>A-CEX</td>
                    <td>Approved</td>
                    <td>Educational Supervisor1</td>
                    <td>23 May 2022</td>
                </tr>
            </tbody>
        </table>
    </div>
</section> -->